:host {
    .table-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 20px;
    }

    mat-spinner {
      margin: 0 auto;
    }

    h2 {
      text-align: center;
    }
}
