<form [formGroup]="friendGroup">
  <fieldset>
    <legend>{{ formLabel() }}</legend>
    <div>
      <secureworks-add-friend-buttons
        (removeFriend)="remove.emit()"
        (addFriend)="addFriendGroup()"
        >
      </secureworks-add-friend-buttons>

      <secureworks-friends-form
        formGroupName="friends"
        [myfriendsForm] = "friendGroup"
        >
      </secureworks-friends-form>

      <ng-container formArrayName="groups">
        @for (s of _groupsFormArray.controls; track s; let i = $index) {
          <secureworks-friend-group
            (remove)="deleteFriendGroupFromArray(i)"
            [formControlName]="i"
            [formLabel]="'Friend ' + (i)+':'"
            >
          </secureworks-friend-group>
        }
      </ng-container>
    </div>
  </fieldset>
</form>
