<div class="container">
  <section class="top-bar">
    <h3>Start adding your friends:</h3>
    <button type="button"
      mat-raised-button
      color="primary"
      label="Add your friend"
    (click)="addYourFriend($event)">Add friend</button>
  </section>

  <form [formGroup]="friendForm">
    <ng-container formArrayName="groups">
      @for (group of groupsFormArray.controls; track group; let i = $index) {
        <secureworks-friend-group (remove)="deleteFriendGroup(i)"
          [formControlName]="i"
          >
        </secureworks-friend-group>
      }
    </ng-container>
  </form>
  @if (groupsFormArray.length) {
    <button mat-raised-button color="primary" (click)="submitForm()">Submit</button>
  }
</div>

