<div>
	<section class="top-bar">
		<h3>Start adding your friends</h3>
		<button type="button"
      mat-raised-button
      color="primary"
      label="Add your friend"
      (click)="addYourFriend($event)">Add friend</button>
	</section>

	<form [formGroup]="_form">
    <ng-container formArrayName="groups">
      <ng-container *ngFor="let group of _groupsFormArray?.controls; index as i">
        <secureworks-friend-group (remove)="_delete(i)"
                            [formControlName]="i"
                            >
        </secureworks-friend-group>
      </ng-container>
    </ng-container>
	</form>
</div>
<button mat-raised-button color="primary" *ngIf="_form.value" (click)="submitForm()">Submit</button>
<br>
<br>
