@function toRem($value) {
  $remValue: ($value / 16) + rem;
  @return $remValue;
}
:host {
    .container {
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .top-bar {
      display: flex;
      gap: toRem(20);
    }

    form {
      margin-bottom: toRem(16);
    }
}
