<div class="form-container">
  <form [formGroup]="friendsForm">
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Name:</mat-label>
        <input
          matInput
          formControlName="name"
          type="text"
          placeholder="Enter your name"
          />
          @if (friendsForm.get('name')?.hasError('required')) {
            <mat-error>{{
              "Name is required!!"
            }}</mat-error>
          }
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Age:</mat-label>
          <input
            matInput
            formControlName="age"
            type="number"
            inputmode="numeric"
            placeholder="Enter your age"
            />
            @if (
              friendsForm.get('age')?.hasError('min') &&
              friendsForm.get('age')?.hasError('max')
              ) {
              <mat-error
                >{{ "Please enter age between 10 and 120 years" }}</mat-error
                >
            }
            @if (friendsForm.get('age')?.hasError('required')) {
              <mat-error>{{
                "Age is required!!"
              }}</mat-error>
            }
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Weight:</mat-label>
            <input
              matInput
              type="number"
              inputmode="numeric"
              formControlName="weight"
              placeholder="Enter your weight"
              />
              @if (
                friendsForm.get('weight')?.hasError('min') &&
                friendsForm.get('weight')?.hasError('max')
                ) {
                <mat-error
                  >{{ "Please enter weight between 30 and 150 kg" }}</mat-error
                  >
              }
              @if (friendsForm.get('weight')?.hasError('required')) {
                <mat-error>{{
                  "Weight is required!!"
                }}</mat-error>
              }
            </mat-form-field>
          </div>
        </form>
      </div>
